/*-----------------------------------------------------------------------*/
/*GENERAL RULES AND DEBUGGING*/

*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    align-content: center;
    justify-items: center;
    background-color: turquoise;
}

.main-page *{
    border: 1px solid magenta;
}

/*-----------------------------------------------------------------------*/
/*PAGE DIVISION IN LEFT AND RIGHT SIDE*/

.main-page{
    height: 95vh;
    width: 97vw;
    border: 5px solid black;
    border-radius: 40px;
    background-color: rgba(255, 255, 255, 0.9);
    display: grid;
    grid-template-columns: 1fr 5fr;
}

/*-----------------------------------------------------------------------*/
/* SIDEBAR LAYOUT */

.sidebar{
    display: grid;
    grid-template-rows: 1fr 5fr 3fr 1fr;
}

.sidebar-logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar-menu,
.sidebar-settings{
    align-content: center;
}

.sidebar-menu ul,
.sidebar-settings ul{
    list-style-type: none;
    display: grid;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}

.sidebar-github{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*-----------------------------------------------------------------------*/
/* PROJECTS, PANEL AND HEADER RATIOS */

.main-window{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 5fr;
}

/*-----------------------------------------------------------------------*/
/* HEADER LAYOUT */

.header{
    grid-column: 1/3;

    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row: 1fr 1fr;
}

.header-searchbar{
    grid-area: 1/1/2/3;
    display: flex;
    align-items: center;
    width: 100%;
}

.header-searchbar form{
    display: flex;
    align-items: center;
    justify-content: center;

}

.header-searchbar > form > button{
    border: none;
    background-color: white;
}

.header-profile{
    grid-area: 1/3/2/4;
    display: flex;
    padding: 5px;
}

.header-profile > div{
    width: 100%;
    display: flex;
    margin-left: 5%;
    padding: 5px;

}

.header-profile > div > div{
    width: 100%;
    align-self: center;
    margin-left: 5%;
}

.header-welcome{
    grid-area: 2/1/3/2;
    display: flex;
    padding: 5px;

}

.header-buttons{
    grid-area: 2/3/3/4;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/*-----------------------------------------------------------------------*/
/* PROJECTS LAYOUT */

.projects{
    display: grid;
    grid-template-rows: 1fr 14fr;
    padding: 5px;
}

.cards{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2,1fr);
    padding: 5px;
}

/*-----------------------------------------------------------------------*/
/* PANEL LAYOUT */

.panel{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 5px;
}

.announcements{
    display: grid;
    grid-template-rows: 1fr 8fr;
    padding: 5px;
}

.announcements-elements{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5px;
}

