/*-----------------------------------------------------------------------*/
/*GENERAL RULES AND DEBUGGING*/

@font-face {
    font-family: Oswald;
    src: url(assets/Oswald/Oswald-VariableFont_wght.ttf);
    font-weight: 200 700;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    /* border: 1px solid magenta; */
}

body{
    font-family: "Oswald";
    font-weight: 200;
    font-size: 12px;
    width: 100vw;
    height: 100vh;
    align-content: center;
    justify-items: center;
    background-color: #0d131c;
    color: #F5FBFB; /*default text color */
    background-image: radial-gradient(circle at -19% -76%, #a8dadcff 40%, transparent 40.05%),
                    radial-gradient(circle at -19% 58%, #1d3557ff 43%, transparent 43.05%),
                    linear-gradient(220deg, #457b9dff 28%, transparent 28.05%),
                    linear-gradient(-48deg, #e63946ff 22%, transparent 22.05%),
                    radial-gradient(circle at 97% 20%, #a8dadcff 35%, transparent 35.05%);
}

svg{
    width: 3rem;
    fill: #EAF6F7;
}

/*-----------------------------------------------------------------------*/
/*PAGE DIVISION IN LEFT AND RIGHT SIDE*/

.main-page{
    height: 95vh;
    width: 97vw;
    box-shadow: 0px 0px 16px 2px black;
    border-radius: 40px;
    background-color: #16202f50;
    backdrop-filter: blur(40px);
    display: grid;
    grid-template-columns: 1fr 5fr;
}

/*-----------------------------------------------------------------------*/
/* SIDEBAR LAYOUT */

.sidebar{
    display: grid;
    grid-template-rows: 2fr 5fr 3fr 1fr;
    background-color: #1d355730;
    backdrop-filter: blur(40px);
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}

.sidebar-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5%;
}

.sidebar-logo-text{
    font-size: 2rem;
    font-weight: 500;
}

.sidebar-logo > svg{
    width: 5rem;
}

.sidebar-menu,
.sidebar-settings{
    align-content: center;
}

.sidebar-menu ul,
.sidebar-settings ul{
    list-style-type: none;
    display: grid;
    gap: 1rem;
    width: 65%;
    margin-left: 1px;
}

li{
    font-size: 1rem;
    font-weight: 400;
    background-color: #457b9d;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    padding: 8px;
    cursor: pointer;
    text-indent: 10%;
}

li:hover{
    width: 110%;
    padding: 8px;
    background-color: #A8DADC;
    color: #141D29;
}

.sidebar-menu ul :nth-child(1){
    width: 110%;
    padding: 8px;
    background-color: #A8DADC;
    color: #141D29;
}

.sidebar-github{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*-----------------------------------------------------------------------*/
/* PROJECTS, PANEL AND HEADER RATIOS */

.main-window{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 5fr;
    border-left: 5px solid #141d29bc;
}

/*-----------------------------------------------------------------------*/
/* HEADER LAYOUT */

.header{
    grid-column: 1/3;
    border-bottom: 5px solid #141d29b5;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row: 1fr 1fr;
}

.header-searchbar{
    border-bottom: 5px solid #141d29c1;
    grid-area: 1/1/2/3;
    display: flex;
    align-items: center;
    width: 100%;
}

.header-searchbar form{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1%;
}

.header-searchbar > form > button > svg{
    width: 2rem;
}

.header-searchbar > form > button > svg:hover{
    cursor: pointer;
    fill: #E63946;
}

.header-searchbar > form > input{
    background-color: #16202f7e;
    border: 2px solid #1D3557;
    border-radius: 40px;
    padding: 8px;
    color: #F5FBFB
}

.header-searchbar > form > input:focus{
    outline: none;
    border: 2px solid #E63946;
}

.header-searchbar > form > button{
    border: none;
    background-color: transparent;
}

.header-profile{
    grid-area: 1/3/2/4;
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: #1d35574d;
    backdrop-filter: blur(40px);
    border-top-right-radius: 40px;
    border-bottom: 5px solid #141d29b2;
    border-left: 5px solid #141d29b0;
}

.header-profile > svg{
    width: 2rem;
    margin-left: 3%;
}

.header-profile > svg:hover{
    cursor: pointer;
    fill: #E63946;
}

.header-profile-menu{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 5%;
    padding: 8px;
    background-color: #457b9d;
    border-radius: 40px;
    border-bottom-right-radius: 0;
}

.header-profile-menu:hover{
    cursor: pointer;
    border: 3px solid #E63946;
    padding: 5px;
}

.header-profile-menu > img{
    width: 3rem;
    height: auto;
}

.header-profile > div > div{
    width: 100%;
    align-self: center;
    margin-left: 5%;
    font-size: 180%;
    font-weight: 500;
}

.header-welcome{
    grid-area: 2/1/3/3;
    display: flex;
    align-items: center;
    padding: 5px;
}

.header-welcome > img{
    width: 2rem;
    height: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-left: 6px solid #E63946;
}

.header-welcome-message{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #457B9D;
    border-radius: 0px 40px 40px 0px;
    padding: 8px;
    padding-left: 1rem;
    padding-right: 20%;
}

.header-welcome-message > .message-name{
    font-size: 120%;
    font-weight: 400;
}

.header-buttons{
    grid-area: 2/3/3/4;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.header-buttons button{
    font-size: 120%;
    color: #141D29;
    font-weight: 700;
    text-align: center;
    width: 25%;
    background-color: #a8dadc;
    padding: 8px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.header-buttons button:hover{
    border: 3px solid #E63946;
    background-color: #457B9D;
    color: #EAF6F7;
}

/*-----------------------------------------------------------------------*/
/* PROJECTS LAYOUT */

.projects{
    display: grid;
    grid-template-rows: 1fr 14fr;
    padding-right: 5px;
    background-color: #1d355755;
}

.projects-title{
    display: flex;
    align-items: center;
}

.projects-title span{
    background-color: #457B9D;
    border-radius: 0px 40px 40px 0px;
    padding: 8px;
    border: 3px solid #A8DADC;
}

.projects-title span:hover{
    border: 3px solid #E63946;
    cursor: pointer;
}

.cards{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2,1fr);
    padding: 5px;
    background-color: #16202f72;
    border-radius: 0px 40px 0px 0px;
}

.card{
    margin: 2%;
    padding: 5px;
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr 1fr;
    background-color: #1d355780;
    border-radius: 20px;
    box-shadow: 100px 0px 0px -84px #457B9D inset;
}

.card:hover{
    cursor: pointer;
    box-shadow: 0px 0px 0px 4px #E63946, 100px 0px 0px -84px #e63946 inset;
}

.card-title{
    margin-left: 20%;
    padding-top: 8px;
    font-size: 1.2rem;
    font-weight: 500;
}

.card-text{
    grid-column: 1/3;
    font-size: 0.9rem;
    font-weight: 300;
    margin-left: 10%;
    padding-right: 10%;
}

.icons{
    display: flex;
    justify-content: right;
    align-items: flex-start;
    gap: 5%;
    padding: 5px;
}

.icons > svg{
    width: 1.5rem;
    margin: 2%;
}

.icons > svg:hover{
    fill: #E63946;
    cursor: pointer;
}
/*-----------------------------------------------------------------------*/
/* PANEL LAYOUT */

.panel{
    background-color: #1d35575d;
    border-bottom-right-radius: 40px;
    border-left: 5px solid #141d29a5;
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 5px;
    padding-left: 0;
    gap: 2%;    
}

.announcements{
    display: grid;
    grid-template-rows: 1fr 8fr;
    margin-left: 1px;
}

.title{
    font-size: 1.6rem;
    font-weight: 400;
    margin-left: 1rem;
    text-decoration-line: underline;
    text-decoration-style: double;
    text-decoration-color: #457b9d;
    text-decoration-thickness: 2px;
}

.title:hover{
    cursor: pointer;
    text-decoration-color: #E63946;
}

.announcements-elements{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5px;
    padding-left: 0;
}

.announcements-elements > .element{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #457b9d7a;
    border-radius: 0px 40px 40px 0px;
    padding: 8px;
    padding-left: 16px;
}


.element > p:first-child {
    font-size: 1rem;
    font-weight: 300;
}

.element > p:last-child{
    font-size: 0.9rem;
}

.trending{
    display: grid;
    grid-template-rows: 1fr 8fr;
    margin-left: 1px;
}

.trending > .users{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5px;
    padding-left: 0;
}

.users > .element{
    display: flex;
    gap: 1rem;
    background-color: #457B9D7a;
    border-radius: 0px 40px 40px 0px;
    padding: 8px;
}

.element > .user{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.username{
    font-size: 1rem;
    font-weight: 300;
}

.user-project{
    font-size: 0.9rem;
}

.element:hover{
    color: #141D29;
    box-shadow: 0px 0px 0px 3px #E63946 inset;
    cursor: pointer;
    background-color: #A8DADC;
}
